@import url(https://fonts.cdnfonts.com/css/poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
}
body{
    background: #2c2c2c;
    height: 100%;
    width: 100%;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    z-index: 100;
}
.sticky{
    background: #2c2c2c;
    border: 1px solid rgba(255,255,255,.1);
}
.header a{
    color: #fff;   
}
.header .logo{
    text-decoration: none;
    font-size: 32px;
    font-weight: 700;
    animation: SlideRight 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
}
@keyframes SlideRight{
    0%{
        transform: translateX(-100%);
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        transform: translateX(00%);
        opacity: 1;
        filter: blur(0px);
    }
}
.navbar a{
    font-size: 18px;
    display: inline-block;
    margin-left: 45px;
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    animation: Slidetop .5s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: calc(.2s*var(--clr));
}
@keyframes Slidetop{
    0%{
        transform: translateY(-100px);
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        transform: translateY(00%);
        opacity: 1;
        filter: blur(0px);
    }
}
.header .menu{
    color: #fff;
    font-size: 26px;
    display: block;
}
.navbar a:hover{
    color: yellow;

}
.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}
section{
    padding: 10rem 9% 2rem;
}
.text-section{
    color: #fff;
    max-width: 700PX;
}
.text-section h2{
    font-size: 50px;
    animation: Slidetop .5s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: .7s;

}
.text-section h3{
    font-size: 30px;
    color: yellow;
    animation: SlideRight 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
}
.text-section p{
    margin-top: 20px;
    color: #fff;
    animation: SlideLeft 1s ease forwards;
    opacity: 0;
    filter: blur(5px);
    animation-delay: 1s;
}
@keyframes SlideLeft{
    0%{
        transform: translateX(100px);
        opacity: 1;
        filter: blur(2px);
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
        filter: blur(0px);
    }
}
.text{
    color: #fff;
}
.text h2{
    color: yellow;
}

.image-section{
    position: relative;
    display: flex;
    justify-content: center;
}
.image-section img{
    height: 100%;
    width: 200px;
    border-radius: 50%;
    outline: yellow;
    outline-style: solid;
    animation: Zoom 1s ease forwards;
    opacity: 1;
}
@keyframes Zoom{
    0%{
        transform: scale(0);
        opacity: 1;
    }
    1100%{
        transform: scale(1);
        opacity: 1;
    }
}
@media(max-width:768px){
     section{
        padding: 10rem 2% 0;
     }
     .home{
        display: grid;
     }
     .navbar{
        display: none;
     }
     .navbar a{
        font-size: 20px;
        margin: 48px 0;
        display: block;
     }
     .navbar{
        position: absolute;
        left: 0;
        top: 100%;
        background: #2c2c2c;
        padding: 1rem 3%;
        width: 100%;
        border-top: 1px solid rgba(255,255,255,.1);
        box-shadow: 0 .8px 16px rgba(255,255,255,.1);
        
     }
     .navbar.active{
        display: block;
     }
     .header .menu{
        display: block;
     }
     .text-section{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
     }
}